body {
  overflow: hidden;
}

.container {
  margin-top: 10px;
}

.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.bookform {
  display: flex;
  flex-direction: column;

}

.printbook-form {
  display: flex;
  flex-direction: column;
}

.audiobook-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 0.5em;
  background-color: #00995e;
  border: 1px solid;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #00e68e !important;
  border: 1px solid #00995e !important;
}

.selector-button {
  margin: 0.5em;
  background-color: #00995e;
  border: 1px solid;
}

.button-selected {
  background-color: #00e68e;
  border: 1px solid #00995e;
}

.booklog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.booklists {
  display: flex;
  flex-direction: column;
}

.card-img {
  padding: 5px;
  width: 50%;

}

.card-title {
  font-size: 2rem;
}

.card-img-container {
  justify-content: center;
  display: flex;
}

.card-group {
  width: 50%;
  margin-top: 0.5em;
}

.start-book-icon {
  height: 450px;
}

.nav-link a {
  text-decoration: none;
}

.navbar {
  background-color: #00cc7e;
}

.navbar-brand {
  color: #ccffeb;
  font-size: 28px;
  font-weight: bold;
}

.navbar-brand:hover,
.navbar-brand:active {
  background-color: #ccffeb !important;
  color: #00cc7e !important;
}

.nav-link a {
  color: #ffffff;
  font-weight: bold;
}

.nav-link a:hover,
.nav-link a:active {
  background-color: #ccffeb !important;
  color: #00cc7e !important;
}

.booklist-container {
  overflow-y: auto;
  max-height: 350px;
  min-width: 00px;
  max-width: 550px;
}

.booklist h3 {
  align-self: flex-start;
}

.booklist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booklist-link {
  background-color: #e6fff5;
  border: none;
  font-weight: bold;
  padding: 0;
  text-align: left;
}

.list-group-item {
  background-color: #e6fff5;
  border: 1px solid #00cc7e;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
}

.list-group-item a {
  text-decoration: none;
  color: black;
}


.form-check-input:checked {
  background-color: #00cc7e;
  border-color: #00cc7e;
}

a {
  text-decoration: none;
}

.card {
  border-width: 1px;
  border-color: #00cc7e;
  margin: 1em;
  border-radius: 1%;
}

.card a {
  color: #00995c;
  font-weight: bold;
}

.card-header {
  background-color: #00cc7e;
  color: #ffffff;
  font-size: 1.2em;
}

.card-body {
  background-color: #e6fff5;
  border-color: #00cc7e;
}